body{
  text-align: center;
  background-color: aliceblue;
  font-family:Georgia, 'Times New Roman', Times, serif ;
}
h2 {
  font-size: 64px;
  color: rgb(18, 129, 115);
  margin: 0;
  margin-bottom: 24px;
}